/* animation.css

  referencias: https://leaverou.github.io/animatable/ */

  .caja {
    width: 200px;
    height: 200px;
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    
    background-color: tomato;
    margin: 50px auto;
  }


  /* 
    Las animaciones se crean y después se utilizan, por lo cual pueden ser reutilizables
    Se declaran con un nombre
    Podemos usar from / to
    from {
      background-color: purple;
    }

    to {
      background-color: yellow;
    }

    Los porcentajes aceptan decimales tb pero es medio un overkill
  */

  @keyframes colores {
    0% {
      background-color: purple;
    }

    50% {
      background-color: chocolate;
    }

    100% {
      background-color: yellow;
    }
  }

  .uno {
    animation-name: colores;
    animation-duration: 2s;
    animation-delay: 3s;
  }

  @keyframes aparecer {
    to {
      opacity: 1;
      background-color: tomato;
    }
  }

  /*
    animation-fill-mode indica donde tiene que quedar el estado de css despues de las animaciones
    forwards: quedarse en el ultimo fotograma
    backwards: quedarse en el primero fotograma
    both ???
  */

  .dos {
    opacity: 0;
    background-color: transparent;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes girar {
    to {
      transform: rotate(1turn);
    }
  }

  /*
    animation-iteration-count -> cuantas veces se repite la animacion
    toma numeros enteros o decimales
    e infinite para que se siga repitiendo en loop

    animation-timing-function ->
    steps en cuantos pasos de progreso quiero mostrar la animacion
    https://codepen.io/rachelnabors/pen/bpAJH

    animation-direction ->
    normal de 0 a 100
    alternate una vez de 0 a 100 y otra de 100 a 0
    reverse de 0 a 100
    alternate-reverse igual que alternate pero entra en reverse

  */
  .tres {
    height: 50px;
    line-height: 50px;
    margin: 120px auto;
    width: 250px;

    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: steps(12);
    animation-direction: reverse;
  }

  @keyframes super {
    0% {
      background-color: pink;
    }
    30% {
      background-color: blue;
    }
    70% {
      background-color: peru;
    }
    100% {
      background-color: papayawhip;
    }
  }

  /*
    animation-play-state: estado de la animacion
    running: en ejecucion
    paused: en pasa
  */
  .cuatro {
    animation-name: super;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }

  .cuatro:hover {
    animation-play-state: running;
  }
  /*
    * Bonus tracks *
  */

  /* @keyframes colors {
    0% {
      filter: grayscale(0);
    }
    50% {
      filter: grayscale(0.5);
    }
    100% {
      filter: grayscale(1);
    }
  } 
  https://bennettfeely.com/image-effects/
  */

  .cinco {
    filter: grayscale(1);
    /* filter: sepia(0.5); */
    /* filter: invert(1); */

    transition: filter 1s;
  }

  .cinco:hover {
    filter: grayscale(0);
  }

  img {
    max-width: 100%;
  }

  .seis {
    text-align: center;
    filter: hue-rotate(0deg);

    transition: filter 2s;
  }

  .seis:hover {
    filter: hue-rotate(360deg);
  }


  /* 
    prefers-reduced-motion media query
    media query para detectar si el usuario prefiere que las animaciones esten apagadas
  */

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none!important;
      transition: none!important;
    }

    .dos {
      opacity: 1;
      background-color: tomato;
    }
  }